lab1_assign/
lab2_assign/
lab3_assign/
lab4_assign/

*.dSYM
.DS_Store
.vscode
.vscode_rs
outputs/

run.sh

Cargo.lock
# Ignore all files in the target directory/
target/

arun_out
arun_outz
test_inputs
test_outputs
pred_outputs